* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #e5e5e5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 6px 0;
    background-color: #0050b3;
}

.search-input {
    width: 100%;
    width: 336px;
    padding: 5px 30px 5px 12px;
    font-size: 14px;
    line-height: 22px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    color: #bfbfbf;
    outline: none;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.navigation {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}

.user-avatar {
    margin-right: 8px;
}

.user-name {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    color: #ffffff;
}

.navigation-panel {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.navigation-link {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    margin-left: 12px;
}

.navigation-link:before {
    content: "";
    width: 1px;
    height: 16px;
    background: #003a8c;
    margin-right: 12px;
}
.navigation-link:last-child:after {
    content: "";
    width: 1px;
    height: 16px;
    background: #003a8c;
    margin-left: 12px;
}

.icons-panel {
    display: flex;
    align-items: center;
}

.icon-link {
    display: flex;
    align-items: center;
    fill: #002766;
    transition: 0.4s;
    margin-left: 17px;
}

.icon-link:hover {
    fill: #ffffff;
}

.icon-link:last-child:before {
    content: "";
    width: 1px;
    height: 16px;
    background: #003a8c;
    margin-right: 12px;
}

.menu-sidebar {
    max-width: 192px;
    margin-top: 16px;
    margin-right: 18px;
    flex-grow: 1;
}

.menu-sidebar__container {
    display: flex;
}

.menu-sidebar .user {
    padding-left: 8px;
}

.menu-sidebar .user-avatar {
    width: 24px;
    height: 24px;
}

.menu-sidebar .user-name {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #262626;
}

.nav-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    color: #595959;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
}

.nav-link.active {
    background: #ffffff;
    color: #262626;
}

.nav-group .nav-icon:last-child {
    margin-left: auto;
    margin-right: 0;
}

.nav-icon {
    margin-right: 8px;
}

.nav-title {
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    padding-left: 10px;
    margin-bottom: 4px;
}

.nav-text {
    color: #595959;
    font-size: 14px;
    line-height: 20px;
}

.nav-group:last-child .nav-link:last-child {
    padding-left: 12px;
    padding-top: 8px;
}

.nav-group:last-child .nav-link:last-child .nav-icon {
    margin-right: 12px;
}

.nav-group:last-child .nav-link:last-child .nav-text {
    color: #1890ff;
    font-size: 14px;
}

.main-feed {
    max-width: 588px;
    margin-top: 16px;
    flex-grow: 1;
}

.create-post {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
}

.create-post__header {
    background: #f5f5f5;
    padding: 9px 16px;
    border-bottom: 1px solid #d9d9d9;
}

.create-post__title {
    margin: 0;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
}

.create-post__body {
    padding: 16px 16px 24px 16px;
    display: flex;
    align-items: flex-start;
}

.create-post__body .user-avatar {
    margin-right: 16px;
}

.create-post__input {
    width: 90%;
    color: #8c8c8c;
    font-size: 16px;
    line-height: 24px;
    padding-top: 8px;
    outline: none;
}

.create-post__footer {
    display: flex;
    align-items: center;
    padding: 0 16px 16px 16px;
    flex-wrap: wrap;
}

.create-post__footer:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-bottom: 16px;
}

.tag {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 48px;
    border: none;
    padding: 9px 12px;
    margin-right: 8px;
    outline: none;
}

.tag-icon {
    margin-right: 8px;
}

.tag .tag-icon:last-child {
    margin-right: 0;
}

.button-text {
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.post {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.post-header .user-avatar {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.post-info {
    display: flex;
    flex-wrap: wrap;
}

.post-author {
    width: 100%;
    color: #0050b3;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
}

.post-time {
    display: flex;
    align-items: center;
}

.post-time__info {
    color: #8c8c8c;
    font-size: 14px;
    line-height: 22px;
}

.post-time__info:after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #bfbfbf;
    border-radius: 50%;
    margin: 0 6px;
    vertical-align: middle;
}

.post-text {
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-bottom: 16px;
}

.post-text a {
    color: #096dd9;
    text-decoration: none;
}

.post-img {
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    max-width: 100%;
}

.like {
    display: flex;
    align-items: center;
    margin: 9px 0;
}

.like-counter {
    margin-left: 4px;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}

.post-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post-button {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    outline: none;
}

.post-button__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #595959;
    margin-left: 8px;
}

.post-button__icon {
    fill: #595959;
}

.post-footer:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin-bottom: 16px;
}